.bannertext h1{
    color: #7c7a7a;
    font-size: 45px;
}

.bannertext{
    margin: 15px;
}

.bannersection{
    display: flex;
}

.bannerimg img{
    margin: 15px;
    height: 360px;
    width: 300px;
}

@media only screen and (max-width: 564px)
{
    .bannersection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: aqua;
    }

    .bannerimg img{
        margin: 15px;
        height: 120px;
        width: 100px;
        transition-duration: 1s; 
        /* display: none; */
    }

    .bannerimg img:hover{
        height: 220px;
        width: 110px;
        background-color: black;
    }
}

.aboutme_section{
    display: flex;
}

@media only screen and (max-width: 564px)
{
    .aboutme_section{
        display: flex;
        flex-direction: column;
        background-color: blue;
    }

    .aboutimg img{
        margin: 15px;
        height: 120px;
        width: 100px;
    }
}

.box{
    display: flex;
}

.boxes{
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.boxes img{
    width: 30px;
}

.whatido_section{
    margin-top: 70px;
   margin-left: 15px;
}

@media only screen and (min-width: 640px) and (max-width: 900px)
{
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}